.card {
    width: 18rem;
    margin: 20px;
}

.hidden {
    display: none;
}

.select {
    font-size: 15px;
}

.navbar-brand {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar img {
    padding-right: 10px;
}

.sticky {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
}

#main-container {
    margin-top: 60px;
}