.theme-preview {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 100px;
}

.theme-preview-right {
    flex-direction: column;
}

.theme-preview-image {
    width: 250px;
}