.theme-preview {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 100px;
}

.theme-preview-right {
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 40px;
    margin-left: 40px;
}

.theme-preview-image {
    width: 600px;
    height: 400px;
    object-fit: cover;
}